# frozen_string_literal: true

# Migration 009 — add kyc_attributes jsonb to kiosk.agents.
# The set of NAMED ANONYMIZED boolean attributes a valid KYC attestation
# granted (e.g. {"age_over_18": true, "licence_a": true}). Only the booleans
# are stored — never the DOB, licence number, or any underlying document.
# Additive/opt-in: needed only if an Action gates on specific KYC attributes.
class AddKycAttributesToKioskAgents < ActiveRecord::Migration[ActiveRecord::Migration.current_version]
  def up
    execute Kiosk::Server::SchemaDefinitions.kyc_attributes_sql(
      schema: <%= options[:schema].inspect %>,
    )
  end

  def down
    execute %(ALTER TABLE "<%= options[:schema] %>".agents DROP COLUMN IF EXISTS kyc_attributes)
  end
end
